<%= form_for(@picture) do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description, class: 'formtext' %><br>
    <%= f.text_area :description, class: 'formboxes' %>
  </div>
  <div class="field">
    <%= f.label :url, class: 'formtext' %><br>
    <%= f.text_field :url, class: 'formboxes' %>
  </div>
  <div class="field">
    <%= f.label :location, class: 'formtext'%><br>
    <%= f.text_field :location, class: 'formboxes'%>
  </div>
  <div class="actions">
    <%= f.submit 'Post Picture', class:'button' %>
  </div>
<% end %>
