
<body>
<header>
  <div id="wrapperHeader">
   <div id="header">
    <img src="http://s10.postimg.org/hmv3gzby1/Miami_Angles.jpg" alt="logo" />
   </div>
  </div>
</header>

<p id="notice"><%= notice %></p>

<div id="fashion-image">
</div>
<div id="bodytext">  <h3>Welcome. MFAA is a place where anyone can contribute pictures of</h3>
  <h3> anything Miami-related. Bust out that colada, embrace your inner Miami and enjoy.</h3>
  </div

  <p id="new-pic">
    <h2><%= link_to 'Contribute A New Picture!', new_picture_path %></h2>
  </p>


<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Description</th>
      <th>Location</th>
      <th>Options</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
    <tr>

      <!-- <td><a class="lightbox" href="#goofy">
        <img src= "<%= picture.url %>"></a>
        <div class="lightbox-target" id="goofy">
        <img src="<%= picture.url %>">
        <a class="lightbox-close" href="#"></a>
        </div> -->
      <td><img src="<%= picture.url %>"> </td>
      <td><%= picture.description %></td>
      <td><%= picture.location %></td>
      <td><div class="showlink"><%= link_to 'Geolocate', picture %> </div>
        <div class="editlink"><%= link_to 'Edit', edit_picture_path(picture) %> </div>
        <!-- <%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' } %> -->
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
</body>
