<body>
<header>
  <h1>Miami From All Angles</h1>
<h3>Welcome. MFAA is a place where anyone can contribute pictures of anything Miami.
Take a sip of that colada, and embrace your Miami-ness.. DALE!</h3>
</header>

<p id="notice"><%= notice %></p>

<div id="fashion-image">
  <h2><strong>How do you<br>view your city?</strong></h2>
</div>

<table>
  <thead>
    <tr>
      <th>Picture</th>
      <th>Description</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
    <tr>
      <td><a class="lightbox" href="#goofy">
        <img src= "<%= picture.url %>"></a>
        <div class="lightbox-target" id="goofy">
        <img src="<%= picture.url %>">
        <a class="lightbox-close" href="#"></a>
        </div>
      </td>
      <td><%= picture.description %></td>
      <td><%= picture.location %></td>
      <td><div class="showlink"><%= link_to 'Show', picture %> </div>
        <div class="editlink"><%= link_to 'Edit', edit_picture_path(picture) %> </div>
        <%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
</body>
<%= link_to 'New Picture', new_picture_path %>
