  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


<p id="notice"><%= notice %></p>
<body>
<!-- <p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p> -->

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>

<!-- <p>
  <strong>Location:</strong>
  <%= @picture.location %>
</p> -->


<div id="showpic"> <%= image_tag @picture.url %></div>


<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #map {
    margin-left: 342px;
    margin-right: 342px;
    height: 60%;
  }
  #floating-panel {
  /*position: absolute;*/
  top: 10px;
  left: 25%;
  /*z-index: 5;*/
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  /*line-height: 30px;*/
  padding-left: 10px;
  }

#address {
  display: none;
}

img {
  margin: 0;
}

/*#submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}*/

#submit {
  border-radius: 12px;
}

</style>

<body>
<div id="floating-panel">
  <input id="address" type="textbox" value="<%= @picture.location%>">
  <input id="submit" type="button" class="btn btn-primary btn-lg btn-block" value="Show me where this picture was taken">
</div>
<div id="map"></div>
<script>
function initMap() {
var map = new google.maps.Map(document.getElementById('map'), {
zoom: 18,
center: {lat: 25.801142, lng: -80.202244}
});
var geocoder = new google.maps.Geocoder();

document.getElementById('submit').addEventListener('click', function() {
geocodeAddress(geocoder, map);
});
}

function geocodeAddress(geocoder, resultsMap) {
var address = document.getElementById('address').value;
geocoder.geocode({'address': address}, function(results, status) {
  if (status === google.maps.GeocoderStatus.OK) {
    resultsMap.setCenter(results[0].geometry.location);
    var marker = new google.maps.Marker({
      map: resultsMap,
      position: results[0].geometry.location
    });
  } else {
    alert('Geocode was not successful for the following reason: ' + status);
  }
});
}

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=    AIzaSyAI5fN1yyPrUoHIFo-nS1wq8vJ6o--0ae4&signed_in=true&callback=initMap"
      async defer></script>
</body>
